// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

/*START IDX PLUGIN STYLING*/
.idx-form-control{
  display: block;
  width: 100%;
  //height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  height: 42px;
  //padding: $padding-base-vertical $padding-base-horizontal;
  padding: 6px 15px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  //color: $input-color;
  color: #959595;
  //background-color: $input-bg;
  background-color: #fff;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  //border: 1px solid $input-border;
  border: 1px solid #ccc;
  //border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  border-radius: 4px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  //@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder(#999);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}
.idx-btn{
  @include transition(0.2s);
  outline: none !important;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size(11px, 15px, 14px, $line-height-base, $btn-border-radius-base);
  @include user-select(none);



  &:hover,
  &:focus,
  &.focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
    @include opacity(.65);
    @include box-shadow(none);
  }
}

.ihf-grid-result-price{
  font-weight: 500;
}

.ihf-grid-result-address {
  margin-bottom: 15px;
  display: block;
  font-weight: 400;
  margin-top: 5px;
}
.ihf-grid-result-basic-info-container{
  width: 100%;
  // text-align: center;
  > div{
    float: none;
    display: inline-block;
  }
}

#ihf-main-container{
  .modal-dialog {
    left: auto !important;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    z-index: 1050;
  }
  .modal-body{
    overflow: inherit !important;
  }
  .ihf-grid-result-price a{
    line-height: 1.4;
  }
  // a {
  //   color: #00aeef;
  // }
  .well{
    border-radius: 0;
  }
  .title-bar-1{
    // background-color: #004274;
    font-weight: 600;
    border-radius: 0;
    text-shadow: none;
    border: none;
    padding: 8px 8px;
  }
  .tab-content {
    .title-bar-1{
      margin-top: 30px;
      background-color: #f5f5f5;
      border-top: 3px solid #000;
      color: #000;
      font-weight: 500;
      padding: 10px 16px;
    }
  }
  .form-control{
    height: 40px;
    @extend .idx-form-control;
  }
  .chosen-container-single .chosen-single{
    height: 40px;
    line-height: 30px;
    text-shadow: none;
    box-shadow: none;
    color: #959595 !important;
    font-weight: 500;
    div{
      display: none;
    }
    &:after{
      content: "\f0dc";
      display: inline-block;
      vertical-align: middle;
      font-family: $font-awesome;
      position: absolute;
      right: 14px;
      top: 0;
      height: 40px;
      line-height: 38px;
    }
  }
  .btn{
    @extend .idx-btn;
  }
  .btn-default {
     color: #333333;
     background-color: #ffffff;
     border: 1px solid #cccccc;
  }
  .btn-primary{
    @extend .idx-btn;
    // @extend .btn-secondary;
    font-size: 14px !important;
  }
  .ihf-map-search-refine-link{
    margin-top: 30px;
    @extend .idx-btn;
    // @extend .btn-secondary;
    &:hover{
      text-decoration: none;
    }
  }
  .ihf-advanced-search-launch{
    @extend .idx-btn;
    color: #333333;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    text-transform: capitalize;
    &:hover{
      text-decoration: none;
      color: #333333;
      background-color: #ebebeb;
      border-color: #adadad;
    }
  }
  .field-label{
    font-size: 14px;
    font-weight: 500;
    color: $black;
  }
  .ihf-map-results-count.field-label {
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 5px;
  }
  .mt-5 {
    margin-top: 20px;
  }
  .ihf-search-form-input{
    text-align: right;
  }
  .ihf-label-overlay-money{
    top: 10px;
    font-weight: 500;
  }
  .input-group .form-control:first-child{
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
  #areaPickerInputWrapper{
    height: 46px;
  }
  #areaPickerContainer{
    .input-group-addon{
      padding-left: 40px;
      padding-right: 40px;
    }
    input[type="text"]{
      padding: 6px 0 0 5px !important;
    }
    .areaPickerExpandAllButtonClass{
      font-size: 14px;
    }
  }
  .areaPickerExpandAllTopBar{
    border-radius: 0;
    width: 100%;
    padding: 0 9px;
    // background-color: #004274;
    cursor: auto;
    &:hover{
      // background-color: #004274;
    }
  }
  .badge{
    color: #fff !important;
    background-color: transparent !important;
    border: 1px solid #fff;
    padding: 3px 10px;
    font-weight: 300;
  }
  #areaPickerExpandAllContainer{
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .autocompleteMouseOver{
    // background-color: #004274;
  }
  .areaPickerExpandAllElement div{
    text-align: center;
  }
  #ihf-status-fields{
    > div{
      margin-top: 4px;
    }
    .radio-inline{
      input{
        margin-top: 3px;
      }
    }
  }
  .chosen-container-multi .chosen-choices{
    height: 40px !important;
    background-image: none;
  }
  #ihf-detail-features-tab{
    > .row{
      margin: 0;
    }
    .mt-10{
      margin-top: 10px;
    }
  }
  .areaPickerExpandAllButtonClass{
    display: inline-block !important;
  }
  #ihf-main-search-form{
    .text-danger{
      //@extend .alert;
      //@extend .alert-danger;
      display: block;
    }
  }

  #ihf-refine-search{
    .dropdown-menu{
      min-width: 260px;
    }
  }
  .btn-group-justified{
    .btn-primary{
      padding: 12px 15px;
      &.active{
        box-shadow: none !important;
      }
    }
  }

}

  .listing-info-item {
    padding: 10px 0;
  }
  h4.ihf-address,
  h4.ihf-price {
    font-size: 1.5em;
    line-height: 1.2em;
  }

.ihf-property-photo {
  .ihf-image-carousel {
    background: #000;
    margin-top: 20px;
  }
}
.ihf-share-btn-more {
  .fa-share {
    top: -4px;
    position: relative;
    left: -6px;
  }
}
#ihf-detail-features-tab {
  h5 {
    display: none;
  }
}
#ihf-main-container .nav-tabs > li > a {
  font-weight: 400;
}
#ihf-board-detail-disclaimer,
#ihf-board-detail-updatetext  {
  margin-bottom: 0;
}

/*START IDX PLUGIN STYLING*/
.dsidx-resp-area{
  margin-bottom: 15px;
  label{
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
  }
  input[type='text'],input[type='password'],input[type='email'],select,textarea{
    @extend .idx-form-control;
  }
}
.dsidx-resp-area-submit{
  input[type='submit']{
    @extend .idx-btn;
    border: none;
    width: 100% !important;
    background-color: $orange;
    &:focus{
      border-color: $orange;
      outline: 0;
    }
  }
}

.dsidx-prop-summary{
  padding-bottom: 35px !important;
  margin-bottom: 0 !important;
  /*border-bottom: 1px solid #ccc;*/
  img{
    border: none !important;
  }
  .item-thumb{
    margin-right: 15px !important;
  }
}
.dsidx-prop-title{
  background-color: #F6F6F6;
  margin-bottom: 15px !important;
  font-size: 20px;
  color: #727272;
  padding: 8px 12px !important;
  /*border-bottom: 1px solid #ccc;
  padding-bottom: 6px !important;*/
  a{
    font-size: 14px;
    color: $anchor;
  }
}


/*START idxbroker PLUGIN STYLING*/
#IDX-widgetLeadLoginHeader,
#IDX-widgetLeadSignupHeader{
  text-align: left !important;
  font-size: 14px;
  h3{
    font-size: 14px !important;
    line-height: 14px;
    margin: 0;
  }
}
#IDX-widgetLeadSignupHeader{
  h3{
    margin-bottom: 10px !important;
  }
}
.IDX-widgetLeadLoginWrapper,
.LeadSignup,
.IDX-quicksearchWrapper,
.IDX-featuredAgentWrap{
  width: 100% !important;
  box-shadow: none !important;
  padding: 0 !important;
  border: none !important;
}
.IDX-leadLoginTextInput[type='text'],
.IDX-qsSelectInput,
.IDX-qsTextInput[type='text']{
  @extend .idx-form-control;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 15px !important;
}
textarea.IDX-leadLoginTextInput{
  @extend .IDX-leadLoginTextInput[type='text'];
  min-height: 100px !important;
}
.IDX-leadLoginButtonInput,
.IDX-leadLoginTextInput[type='submit'],
.IDX-qsButtonInput,
.idx-omnibar-form button,
.impress-lead-signup input[type='submit'],
.impress-lead-login input[type='submit']{
  @extend .idx-btn;
  width: 100% !important;
  color: $white;
  background-color: $orange;
  border: 1px solid $orange;
  &:hover{
    background-color: rgba(255,110,0,0.75);
    border-color: rgba(255,110,0,0.75);
  }
}

.IDX-qsFieldWrap{
  margin-top: 10px ;
  padding: 0 !important;
  width: 100%;
}
.idx-omnibar-form{
  label{
    margin: 0 !important;
  }
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='tel'],
  input[type='number']{
    @extend .idx-form-control;
    margin-bottom: 15px !important;
  }
}

.idx-omnibar-mini{
  > div{
    width: 75% !important;
    padding-right: 10px !important;
  }
  button{
    width: 25% !important;
  }
}

.IDX-slideshowWrapper{
  margin: 0 auto;
  box-shadow: none !important;
  width: 100% !important;
  a{
    width: 100%;
  }
  img{
    width: 100% !important;
    //height: auto !important;
  }
}

#IDX-featuredAgentWrap{
  //@extend %clearfix;
  display: table;
  #IDX-featAgentImgWrap{
    //float: left;
    display: table-cell;
    vertical-align: middle;
    padding: 0 15px 0 0;
    img{
      width: auto;
      height: auto;
    }
    a{
      display: block;
      width: 124px;
    }
  }
  #IDX-featuredAgentCaption{
    display: table-cell;
    vertical-align: top;
    width: 100%;
    font-size: 14px !important;
    font-weight: 500 !important;
    text-shadow: none !important;
    text-align: left !important;
  }

}

/*IDX SHOWCASE STYLE*/
.impress-showcase-property{
  margin-bottom: 22px;
}
.impress-showcase-photo{
  //@extend %clearfix;
  display: block !important;
  margin-bottom: 10px !important;
  position: relative !important;
  img{
    //margin-bottom: 15px;
    border: none !important;
  }
  .impress-price{
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: $white;
  }
}
.impress-price{
  float: left;
}
.impress-status{
  display: none;
  float: right;
  background-color: #333;
  color: $white;
  padding: 0 6px;
  border-radius: 3px;

}
.impress-address{
  color: #636363;
  &:hover{
    color: $anchor;
  }
}
.impress-beds-baths-sqft,
.beds-baths-sqft{
  span{
    margin: 0 5px 0 0 !important;
  }
}

/*IDX impress_lead_signup STYLE*/
.impress-lead-signup{
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='tel']{
    @extend .idx-form-control;
    margin-bottom: 15px;
  }
}

/*IDX impress-lead-login STYLE*/
.impress-lead-login{
  input[type='text'],
  input[type='email'],
  input[type='password'],
  input[type='tel']{
    @extend .idx-form-control;
    margin-bottom: 15px;
  }

  input[type='submit']{
    margin-left: 5%;
    width: 35% !important;
  }
}

.select2-choices{
  border: none !important;
}

.IDX-resultsAddress{
  margin-bottom: 22px !important;
  a{
    color: $black !important;
    &:hover{
      color: $hover !important;
    }
  }
}
.IDX-column{
  margin-left: 3% !important;
  > div{
    margin-bottom: 3px !important;
  }
}
.IDX-column2 .IDX-resultsLabel{
  text-align: left !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  color: $black !important;
}
.IDX-column3 {
  width: 28% !important;
}
.IDX-resultsPhotogallery{
  margin-bottom: 10px !important;
}
.IDX-saveProperty{
  @extend .idx-btn;
  width: 100%;
  color: $white;
  background-color: #cbcbcb !important;
  &:hover{
    background-color: #c4c4c4;
  }
}
.IDX-resultsDetailsLink{
  a{
    @extend .idx-btn;
    width: 100%;
    color: $white;
    background-color: #00aeef !important;
    &:hover{
      background-color: #01a8e6;
    }
  }
}
.IDX-resultsSeparatorText{
  font-size: 18px !important;
  font-weight: 500;
  margin: 35px 0 !important;
}
.IDX-resultsCell{
  padding-bottom: 22px !important;
  border-bottom: 1px solid #e5eeed !important;
}

.IDX-perPageForm{
  float: right !important;
}
#IDX-resultsCountWrap{
  clear: left !important;
  color: #888 !important;
  float: left !important;
  width: 50% !important;
  line-height: 40px !important;
}
#IDX-resultsTopLinks {
  clear: right !important;
  float: right !important;
  width: 50% !important;
  line-height: 40px !important;
  margin: 0 !important;
  text-align: right !important;
}

.IDX-perPageForm select {
  padding: 3px 3px !important;
  border-radius: 4px !important;
  background: none !important;
  -webkit-appearance: inherit !important;
  -moz-appearance: inherit !important;
}
#IDX-resultMap{
  overflow: hidden !important;
}
#IDX-listingID-group{
  width: 100% !important;
  margin-right: 0 !important;
}
#IDX-listingID{
  @extend .idx-form-control;
  margin-bottom: 15px !important;
}
.IDX-help-block{
  font-family: $font-primary !important;
  font-size: 15px !important;
  font-weight: 300 !important;
  margin-bottom: 15px;
}
.IDX-submitContainer{
  text-align: right !important;
}
#IDX-formReset{
  @extend .idx-btn;
  background-color: #cbcbcb !important;
  color: $white !important;
  margin: 0 !important;
  &:hover{
    background-color: #bebdbd !important;
  }
}
#IDX-formSubmit{
  @extend .idx-btn;
  background-color: $orange !important;
  color: $white !important;
  margin-right: 0 !important;
  margin-left: 30px !important;
  border: 1px solid $orange;
  &:hover{
    background-color: rgba(255,110,0,0.75);
    border-color: rgba(255,110,0,0.75);
  }
}

#IDX-streetNumber,
#IDX-streetDirection{
  @extend .idx-form-control;
  width: 30px !important;
}
#IDX-streetName{
  @extend .idx-form-control;
}

#IDX-searchForm{
  .IDX-control-label{
    margin-bottom: 10px !important;
    font-weight: 500 !important;
    font-size: 15px !important;
    color: $black !important;
  }
  .IDX-addressLabel{

  }
}
.IDX-wrapper-standard .IDX-cczList select{
  @extend .idx-form-control;
  height: 95px !important;
}