/*START LABELS STYLING*/
label {
  font-weight: 400;
}
.label {
  font-weight: 500;
}
label.error {
  position: absolute;
  color: $red;
  font-size: 13px;
  top: 50%;
  right: 17px;
  margin-top: -7.5px;
  height: 30px;
  margin-bottom: 0;
  padding: 0 10px 0 10px;
  background-color: $white;
  z-index: 1;
  @include respond-to(large-desktop){


  }
  @include respond-to(medium-desktop) {

  }
  @include respond-to(tablet-portrait){
    top: 63%;
  }
}
label.error + .bootstrap-select{
  .btn-default{
    border-color: red;
  }
}
label.success {
  position: absolute;
  color: $green;
  font-size: 13px;
}

.label-wrap{
  display: inline-block;
  font-size: 0;
  //height: 19px;
  vertical-align: middle;
  line-height: normal;
  .label{
    display: inline-block;
    margin-right: 5px;
    color: $white;
    border-radius: 2px;
    font-size: 10px;
    padding: 3px 6px 2px;
    text-transform: uppercase;
    margin-bottom: 0;
    line-height: 11px;
    vertical-align: top;
    font-weight: 500;
    &:last-child{
      margin: 0;
    }
  }
}
.label-left{
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 3;
}
.label-right{
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 3;
}
.label-featured{
  background-color: $green;
  color: $white;
  padding: 3px 6px 3px;
  vertical-align: top;
}
.label-status,
.label-default{
  background-color: $listing-status-color;
}

