/* WP Classes */
.mce-edit-area{
  iframe{
    @include respond-to(991){
      height: 200px !important;
    }
  }
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.alignnone,
a img.alignnone,
.wp-caption.alignnone{
  margin: 5px 20px 20px 0;
}
.aligncenter, div.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}
.alignright,
a img.alignright,
.wp-caption.alignright{
  margin: 5px 0 20px 20px;
}

.alignright,
a img.alignright{
  float: right;
}
.alignleft,
a img.alignleft,
.wp-caption.alignleft{
  margin: 5px 20px 20px 0;
}
.alignleft,
a img.alignleft{
  float: left;
}
.aligncenter {
  display: block;
  margin: 5px auto 20px auto;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.wp-caption {
  //border: 1px solid #f0f0f0;
  max-width: 96%;  /*Image does not overflow the content area*/
  //padding: 5px 3px 10px;
  //text-align: center;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0 0 0 4px;
  margin-top: 12px;
  font-style: italic;
  border-left: 3px solid $anchor;
  color: #aaa;
}

.post-password-form{
  input[type='password']{
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding: 6px 12px;
    @include respond-to(tablet-portrait){
      margin-top: 6px;
    }
  }
  input[type='submit']{
    outline: none !important;
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding:9px 15px;
    background-color: $anchor;
    color: $white;
    border: 1px solid $anchor;
    line-height: 1.42857;
    border-radius: 4px;
    font-size: 14px;
    &:hover{
      background-color: darken($hover,15%);
    }
  }
}

/*CONTACT FORM 7 STYLE*/
.f7-form-control{
  //@extend .form-control;
  display: block;
  width: 100%;
  //height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  height: 42px;
  //padding: $padding-base-vertical $padding-base-horizontal;
  padding: 6px 15px;
  font-size: $font-size-base;
  line-height: $line-height-base;
  //color: $input-color;
  color: #959595;
  //background-color: $input-bg;
  background-color: #fff;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  //border: 1px solid $input-border;
  border: 1px solid #ccc;
  //border-radius: $input-border-radius; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  border-radius: 4px; // Note: This has no effect on <select>s in some browsers, due to the limited stylability of <select>s in CSS.
  //@include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus;

  // Placeholder
  @include placeholder(#999);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    border: 0;
    background-color: transparent;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    background-color: $input-bg-disabled;
    opacity: 1; // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655
  }

  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }
}
.wpcf7-form{
  p{
    font-size: 14px !important;
    font-weight: 400 !important;
    position: relative !important;
    margin-bottom: 5px !important;
  }
  .wpcf7-form-control-wrap{
    display: block;
    margin-top: 2px;
  }
}
.wpcf7-submit{
  transition: all 0.5s ease-in-out 0s;
  outline: none !important;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 11px 15px;
  font-size: 14px;
  border-radius: 4px;
  line-height: 1.42857;
}
.wpcf7-text,
.wpcf7-textarea{
  width: 100%;
}
input[type="text"].wpcf7-form-control,
input[type="email"].wpcf7-form-control,
input[type="password"].wpcf7-form-control,
input[type="tel"].wpcf7-form-control,
textarea.wpcf7-form-control,
.post-password-form input[type='password']{
  @extend .f7-form-control;
}
input[type="text"].wpcf7-form-control[disabled],
input[type="text"].wpcf7-form-control[readonly],
fieldset[disabled] input[type="text"].wpcf7-form-control {
  background-color: #eee;
  opacity: 1;
}
.wpcf7-form-control[disabled],
fieldset[disabled] input[type="text"].wpcf7-form-control {
  cursor: not-allowed;
}
textarea.wpcf7-form-control {
  min-height: 100px;
}